<!--
<nav class="navbar navbar-nav-center navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" style="color: green;">Project Plutonium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: green;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: green;">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/login" style="color: green;">Sign In</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle me-auto" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: green;">
              My profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" style="color: green;">Action</a></li>
              <li><a class="dropdown-item" href="#" style="color: green;">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" style="color: green;">Something else here</a></li>
              <li><a class="dropdown-item" href="admin" style="color: green;">Admin</a></li> 
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->

<head>
  <title>Project Plutonium</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body {font-family: "Lato", sans-serif}
  .mySlides {display: none}
  </style>
  </head>


<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Games</a>
    <a routerLink="/leeaderboard" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Leaderboard</a>
    <a routerLink="/admin" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Admin</a>
    <a routerLink="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Sign In</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">My Profile <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Profile</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Sign Out</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>