
<body>

    
    <div class="header">
      <h2>Game Info</h2>
      <p class="subheader">Welcome! Check out today's challenge below!</p>
    </div>
    
    <div class="row">
      <div class="column side" style="background-color:rgba(170, 170, 170, 0.159);"> </div>
      <div class="column middle" style="background-color:#bbb;">GAME
      <app-hangman-game-component></app-hangman-game-component>
      </div>
      <div class="column side" style="background-color:rgba(170, 170, 170, 0.159);"> </div>
    </div>
    
    <div class="footer">
      <p>Footer</p>
    </div>
    
    </body>