<body>


  <div class="header b2">


    <div class="leftbox">
      <div class="svg">
        <object data="../../../assets/images/writeb.svg" width="80" height="100"> </object>
      </div>

      <div class="left tracking-in-expand">


        <h2 class="title"> Project Plutonium</h2>
        <p class="subheader">A web application for gamers and writers alike.</p>
      </div>

    </div>




    <div class="right">

      <div class="image">
        <img class="hero" src="../../../assets/images/a-horizontal.jpg" alt="image of an abandoned building">
      </div>

    </div>


  </div>






  <div class="separator">

    <div class="column middle" style="background-color: rgb(70, 71, 75);">

      <div class="row">

        <div class="card-wrapper">
          <div class="card-header">
            <h1>Create</h1>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Use our Story Builder to put together a choose your own adventure! Featuring action scores and item
                interactivity with certain actions.</p>
            </div>
            <div class="content-img">
              <img class="card-image" src="../../../assets/images/create.jpg">
            </div>
          </div>

          <div class="card-footer">
          </div>
        </div>

        <div class="card-wrapper">
          <div class="card-header">
            <h1>Discover</h1>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Discover featured stories by fellow users. View daily story features and participate to earn a score
                and a spot on the leaderboard.</p>
            </div>
            <div class="content-img">
              <img class="card-image" src="../../../assets/images/discover.jpg">
            </div>
          </div>

          <div class="card-footer">
          </div>
        </div>

        <div class="card-wrapper">
          <div class="card-header">
            <h1>Share</h1>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Share your very own stories for others to see and play through!</p>
            </div>
            <div class="content-img">
              <img class="card-image" src="../../../assets/images/share.jpg">
            </div>
          </div>
          <div class="card-footer">
          </div>
        </div>




        <div class="button-row">
          <button routerLink="/login" class="button-82-pushable" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              Join Now!
            </span>
          </button>
        </div>






      </div>











    </div>
  </div>

  <div class="footer">
    <p>Footer</p>
    <p> Icon by <a href="https://freeicons.io/profile/205927">Flatart</a> on <a
        href="https://freeicons.io">freeicons.io</a>
    </p>
  </div>

</body>