

/*   
Text animation
*/

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


.svg {
  display: flex;
  align-self: center;
  justify-content: center;
  min-width: 15%;
  margin-left: 5%;
  
}


.leftbox {
  min-width: 50%;
  display: flex;
  justify-content: space-around;
  
}


  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #f1f1f1;
  }


  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-all;
    

  }


  .title {
    word-wrap: break-word;
    word-break: break-all;
    height: auto;
    font-size: 25px;
    
  }
  
  /* Style the header */
  .header {
    display: flex;
    max-height: 1000px;
    font-size: 35px;
    
    
  }

  .left {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    text-align: left;
    display: grid;
    margin: auto;
    margin-left: 0;
    grid-template-rows: 50px 50px 1fr auto;
    text-align: left;
  }

  .leftbox {
    height: 900px;
    justify-content: right;
  }
    

  .right {

    flex:1;
    object-fit:cover;
    min-height: 70vh;
    min-width: 400px;
    display: grid;
    justify-content: right;
       
  }

  .hero {
    
    position:cover;
    max-width: 1400px;
    min-height: 70vh;
  }

  .hero {
    max-height: 900px;
  }

  

  .subheader {
    font-size: 20px;
  }
  
  /* Container for flexboxes */
  .row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  /* Create three unequal columns that sits next to each other */
  .column {
    margin-top: auto;
    height: 100vh; /*Height of the boxes*/
  }
 
  
  /* Middle column */
  .column.middle {
   
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    max-width: 100%;
    padding-top: 400px;
    padding-bottom: 100px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    width:80%;
    height: 800px;
  }

  .card-wrapper {
    background-color: #f1f1f1;
    height: 600px;
    width: 400px;
    padding: 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
  }

  .card-header{
    background-color: #646262;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
  }

  .card-header h1{
    color: #f1f1f1;
    font-weight: 500;
  }

  .card-body {
    display: grid;
    justify-content: center;
    
    text-align: left;
    height:500px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .card-body p{
    justify-content: baseline;
  }

  .content-img {
    display: flex;
    flex-flow: column;
  }
  

  .card-image{
    object-fit: cover;
    height:220px;
    width: 350px;
    border-radius: 5px;
    margin:auto;
    
  }

  .card-footer {
    background-color: #dddddd;
  }



  /* Style the footer */
  .footer {
    
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }


  @media screen and (max-width: 500px){



  }

  
/* Keeps the middle column at 800px */
  @media only screen and (min-width: 1500px){
    .column.middle{
        min-width: 800px;
        min-height: 70vh;
    }
    .column.side {
        max-height: fit-content;
    }

  }

  @media screen and (max-width: 1800px) {
    
    .hero {
    position:cover;
    max-width: 800px;
    height: 30vh;
    }
  }


  @media screen and (max-width: 600px){

    .header {
      display: grid;
    }

    .leftbox {
      height: 400px;
    }


  }

    
  /* 

Keyframes Code for the text animation

  */

  /* ----------------------------------------------
 * Generated by Animista on 2022-10-2 15:54:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



/*
  Button
*/

.button-row {

  display: flex;
  justify-content: center;
  align-items: center;

}




/* CSS */
.button-82-pushable {
  font-family: "Poppins", sans-serif;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  font-family: "Poppins", sans-serif;
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}