<div class="boxwrapper">

    <div class="pagewrapper">

        <div class="left">
            <div class="row-left">
                <div class="header">

                    <p>Schedule of Games</p>
                </div>
            </div>


            <div class="column">
                <div class="reference">
                    <p>Title</p>
                    <p>Date</p>
                    <p></p>
                </div>
                <div *ngIf="gameList.length > 0 && !loading" class="games">

                    <div class="gotlist">

                        <div class="gameField" *ngFor="let game of gameList; index as i">

                            <p class="entry" type="text">{{game.publishedGame.game_title}}</p>
                            <p class="entry" type="text">{{game.challengeDate | date : 'yyyy-MM-dd' : '+0000'}}</p>
                            <button [ngClass]=" gameId == i? 'button-80 entry' : 'button-80 entry' "
                                (click)="removeGameOTD()">Remove</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>






        <div class="right">

            <div class="row-right">

                <div class="header">

                    <p>Submit Game of the Day</p>
                </div>
            </div>

            <div class="column">

                <div class="row">
                    Game ID:<input type="text" [(ngModel)]="gameId">

                </div>

                <div class="row">
                    Date:<input type="date" [(ngModel)]="challenge_date">
                    <button class="button-80" (click)="submitGameofDay()">submit</button>
                </div>

            </div>
        </div>


    </div>
</div>