
<html>

    <body>

        <div>
            <span class="spacer"></span>
        </div>

        <div class="container">
            <div class="loginhtml">

                <div class="header">
                    <p>Log In</p>
                </div>

                    <div class="loginform">
                    <div class="card-html">
                        
                    <!--GROUP FOR USER FIELD-->
                    <div class="group">
                        <label for="user" class="label" >username</label>

                        <input id="user" type="text" class="input">

                    </div>
                    <!--GROUP FOR PASSWORD FIELD-->
                    <div class="group">
                        <label for="pass" class="label" >password</label>

                        <input id="pass" type="password" class="input" data-type="password">

                    </div>
                    
                    <!--LOG IN BUTTON-->
                    <div class="group">
                        <button class="button-27" role="button">Log In</button>
                    </div>

                    <div class="hr"></div>

                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                    
                </div>
                
                </div>
                <div class="footer">

                </div>
            
            </div>
        </div>

    </body>

</html>