p{
    margin: 0;
}
.games-played-container {
    min-width: 65vw;;
    max-height: 200px;
    height:fit-content;
    overflow: auto;
}

.games-played-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: dashed;
    border-color: rgb(51, 46, 46);
    height: 100px;
    padding-right: 5%;
}

.number-of-plays {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: rgb(26, 23, 23);
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 10px;
    padding-left: 10px;
}
a {
    text-decoration: none;
}

a:hover {
    color: #d1d1d1;
}

span {
    flex-basis: 33%;
}