body{

    text-align: center;
    margin: auto;
    background-color: #f1f1f1;
    height: 100%;
    font-family: "Poppins", sans-serif;
    padding-top: 70px;
    padding-bottom: 70px;
    
}

.menu-content {
    display: flex;
    background-color:#f1f1f1;
    height: 100%;
}

.pagewrapper {
    max-width: 1400px;
    margin:0px auto;
    height: 70vh;
    background-color: #f1f1f1;
    
}

.highlight {
    background-color:rgb(95, 96, 99);
    color: rgb(230, 232, 235);
    fill: rgb(206, 208, 212);
}


.wrapper {
    padding-top: 100px;
    display: grid;
    width: min(100% - 15px, 840px);
    margin-inline: auto;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    padding-bottom: 25px;
    
    
}

.section-header {
    font-weight: 600;
}

.optionswrapper {
    height: 94vh;
    background-color: rgb(50, 51, 54);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}

.options {
    
    display: grid;
    
    margin-left:0px;
    width: 221px;
    
    
}


.button-59 {
    align-items: center;
    
    border: 2px solid rgb(50, 51, 54);
    box-sizing: border-box;

    cursor: pointer;
    display: inline-flex;
    font-family: Poppins,sans-serif;
    font-weight: 300;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 220px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }
  

  
  .button-59:hover {
    background-color:rgb(95, 96, 99);
    color: rgb(230, 232, 235);
    fill: rgb(206, 208, 212);
  }
  
  
  

  