<body>
<p  style=" color: green;">Admin Page</p>
<br>
<hr>
<p style=" color: green;">Admin function 1:</p>
<p></p>
<button  (click)="clickEvent()" style="color: darkblue; background-color: lightcyan;" >
    empty button</button>
 <!-- <p *ngIf = "msg">User List:</p> --> 
<p style=" color: green;">{{msg}}</p>

<hr>
<p style=" color: green;">List of Users:</p>
<p></p>
<button  (click)="getUsers()" style="color: darkblue; background-color: lightcyan;" >
    Users</button>

 <div *ngFor ="let u of data">
<p id="comp-render"  style=" color: green;">{{u.username}}- Permission Level: {{u.permissionLevel}}</p> </div>
<hr>

<p style=" color: green;">Search Function</p>
<input type="text" >
         <!--  <button (click)="submitUserQ()" style="color: darkblue; background-color: lightcyan;">submit</button> -->
</body>