<body>
<p  style=" color: green;">Admin Page</p>
<br>
<hr>
<p style=" color: green;">List of Users:</p>
<p></p>
<button  (click)="clickEvent()" style="color: darkblue; background-color: lightcyan;" >
    Load Users</button>
 <!-- <p *ngIf = "msg">User List:</p> --> 
<p style=" color: green;">{{msg}}</p>

<hr>
<p style=" color: green;">Other Admin Fuctionality:</p>
<p></p>
<button  (click)="clickEvent1()" style="color: darkblue; background-color: lightcyan;" >
    admin event</button>
 <!-- <p *ngIf = "msg">User List:</p> --> 
<p style=" color: green;">{{msg1}}</p>
<hr>

<p style=" color: green;">Search Function</p>
<input type="text" >
            <button (click)="submitUserQ()" style="color: darkblue; background-color: lightcyan;">submit</button>
</body>