<br><br>
<body>
    
</body>
<img src={{pro_pic_url}} style="object-fit: cover; padding-bottom: 22px;" height="200px" width = "200px"/>
        <div class = "urlsubmit" *ngIf = "viewingOwnProfile">
            <div class = "submitbutton">
                <input size="22px" id="propicurl" type="text" [(ngModel)]="newurl" placeholder="Enter url for new profile picture">
            </div>
            <div class = "submitbutton">
                <button class = "button-80" (click)="changeProfilePic()">Submit</button>
            </div>
        </div>