<div class="container">
    <h1>LeaderBoard</h1>
    <table>
        <thead>
            <tr>
                <td style=" color: green;">Username</td>
                <td style=" color: green;">Id</td>
            </tr>
        </thead>
        <tbody style=" color: green;">
            <hr>
            <tr *ngFor="let user of users">
                <td><a [routerLink]="['/profile']" [queryParams]="{id:user.user_id}">{{user.username}}</a></td>
                <td>{{user.user_id}}</td>
            </tr>
        </tbody>
    </table>
</div>