<div class="container">
    <div class="loginhtml">

        <div class="header">
            <p>Log In</p>
        </div>

            <div class="loginform">
            <div class="card-html">
                <div class="middle-block">
                
            <!--GROUP FOR USER FIELD-->
            <div class="group">
                <label for="user" class="label">username</label>

                <input  [(ngModel)]="usernameInput" id="user" type="text" class="input" >

            </div>
            <!--GROUP FOR PASSWORD FIELD-->
            <div class="group">
                <label for="pass" class="label" >password</label>

                <input [(ngModel)]="passwordInput" id="pass" type="password" class="input" data-type="password">
            </div>
                </div>
            
            <!--LOG IN BUTTON-->
            <div class="group">
                <button (click)="loginButtonPressed()" class="button-27" role="button" >Log In</button>
            </div>

            <div class="hr"></div>

            <div class="foot-lnk">
                <p class="errorMessage" style="color: rgba(230, 70, 70, 0.938)">{{errorMessage}}</p>
            </div>
            
        </div>
        
        </div>
        <div class="footer">

        </div>
    
    </div>
</div>