
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  .p {
    color: #f1f1f1;
  }
  .h2 {
    font-weight: bold;
  }

  /* Container for flexboxes */
  .row {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .column-middle {
    width: 1300px;
  }
  

  
