<body>


    <div class="header">
      <h2>Create Info</h2>
      <p class="subheader">Build your own adventure here!</p>
    </div>
    
    <div class="row">
      <div class="column side" style="background-color:rgb(252, 252, 252);"> </div>
      <div class="column middle" style="background-color: rgba(51, 37, 37, 0.822);">
        <p clas="gamelabel"> Zombie Surival </p>
        <app-adventure-builder></app-adventure-builder>



      </div>
      
      <div class="column side" style="background-color:rgb(255, 255, 255);"> </div>
    </div>
    
    <div class="footer">
      <p>Footer</p>
    </div>

    </body>