
<body>

    <div class="gamewrapper">
        <div class="infobox">

                <div class="description">
                    
                    <p class ="tab1">    {{description}}</p>
             

                </div>



        </div>
        <div class="stats-box">
            <div>
                <span>Health: {{health}}</span>
            </div>
            <div>
                <span>Score: {{score}}</span>
            </div>
            <div>
                <span>Items: {{itemSetString}}</span>
            </div>
        </div>
        <div class = "lowerbox" >
            <div class="map">
                <img class="image" src="{{map}}">
            </div>

            <div class="action-menu">
                <div *ngIf="health > 0">
                    <div class="center" *ngFor = "let action of actions; index as i">
                        <button class="button-27" (click)="changePage(action, i)" *ngIf="action.requiredItem == '' || itemSet.has(action.requiredItem!)">{{action.actionLabel}}</button>
                    </div>
                </div>
                <button class="button-27" (click)="changePageDied(data[pageIndex].deathIndex!)" *ngIf="health <= 0 && !dead">Continue</button>
                
            </div>


        </div>



    </div>

</body>