
.body {
    display: flex;
    justify-content: center;
    
}

.gamewrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    justify-content: space-between;
    align-items: stretch;
}

.tab1 {
    white-space: pre-wrap; 
    overflow-wrap: break-word;
}

.infobox {
    padding: 5px;
    flex-grow: 1;
    min-width: 40em;
    min-height: 20em;
background-color: rgb(236, 233, 228);
}

.description {
    text-align: left;
}


.lowerbox {
    
    display: flex;
    flex-grow: 1;
    
    
    justify-content: space-evenly;
    align-items:flex-end;
    background-color: rgb(255, 255, 255);
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 20em;
    min-height: 24em;
    max-height: 24em;
    background-color: rgba(104, 165, 165, 0);
}

.image {
    object-fit: contain;
    height: 100%;
    width: 90%;
}

.action-menu {
    flex-grow: 1;
    min-width: 20em;
    min-height: 12em;
    background-color: rgb(81, 88, 88);
}